<!DOCTYPE html>
<html>
  <head>
    <title>Filndo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= form_tag ("/search"), method: "get" do %>
  <%= label_tag :year %>
  <%= text_field_tag :year %>
  <%= label_tag :genre %>
  <%= select_tag :genre, options_for_select(Film.genres) %>
  <%= submit_tag "search" %>
<% end %>
<h1>Ndoのおすすめ映画</h1>
<%= form_tag ("/lists"), method: "get" do %>
  <%= label_tag :genre %>
  <%= select_tag :genre, options_for_select(Film.genres) %>
  <%= submit_tag "lists" %>
<% end %>

<%= link_to "今話題の映画", trends_path %>

    <%= yield %>
  </body>
</html>
